<div class='page-header'>
  <h1>This is box <%= @box.id %></h1>
</div>

<p>
  <strong>Destination:</strong>
  <%= @box.destination %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @box.weight %> kg
</p>

<p>
  <strong>Items:</strong>
  <ul>
  <% @box.items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>
  </ul>
</p>


<div class='btn-group'>
  <%= link_to 'Edit', edit_box_path(@box), class: 'btn btn-sm btn-default' %>
  <%= link_to 'Back', boxes_path, class: 'btn btn-sm btn-default' %>
</div>
