<p id="notice"><%= notice %></p>

<p>
  <strong>Destination:</strong>
  <%= @box.destination %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @box.weight %>
</p>

<p>
  <strong>Items:</strong>
  <ul>
  <% @box.items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>
  </ul>
</p>


<%= link_to 'Edit', edit_box_path(@box) %> |
<%= link_to 'Back', boxes_path %>
